.main{
  text-align: center;
}
.apptitle{
  font-size: 30px;
}
.typespanel{
  margin: auto;
  align-items: center;
  height: 3em;
  width: 30em;
  border-radius: 10px;
}
.typepanelinternal{
  text-align: center;
}
.tasklist{
  margin: auto;
  align-items: center;
  width: 30em;
  border-radius: 10px;
}
